body {
    background-color: #Fce4ec;
    padding: 20px;
}

form {
    background: #F8bbd0;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
}

div {
    position: relative;
    background-color: #F8bbd0;
    border-bottom: 1px solid #F8bbd0;
    font-size: 20px;
    font-family: 'Khula', sans-serif;
}

label {
    opacity: 0.3;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 20px;
}

input {
    padding: 10px 10px 10px 40px;
    border: 2px;
    margin-bottom: 20px;
    width: 91.7%;
    background: #Fce4ec;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: 0;
    background: #Fce4ec;
}

input[type="text"]:focus + label, input[type="email"]:focus + label, input[type="password"]:focus + label {
    opacity: 0;
}

input[type="text"]:valid, input[type="email"]:valid, input[type="password"]:valid {
    background: url(images/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

input[type="text"]:valid + label, input[type="email"]:valid + label, input[type="password"]:valid + label {
    opacity: 0;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    background: #f48fb1;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
}

input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding: 0 25px 15px 45px;
}

input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements + label,
input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements + label{
    opacity: 0;
}

.requirements {
    padding: 0 30px 0 50px;
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: normal;
}

.submit {
    width: 100%;
    border: none;
    background-color: #e91e63;
    padding: 15px;
}